main .hautDePage .presentation img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition:all 1s;
}
.turn{
    transform: rotate(360deg);
}
main .lolgoodmeme img{
    display: block;
    width: 100%;
}

.imageGalerie {
    width: 100%;
    height: 100%;
    display: none;
}

@media all and (min-device-width: 480px){
    main .galerie .carousel{
        width: 50%;
        margin: auto;
    }
}

@media all and (min-device-width: 480px){
    main .lolgoodmeme img{
        width: 50%;
        margin: auto;
    }
}
