.totop a {
    display: inline-block;
    width: 100%;
    background-color: rgb(83, 83, 99);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-family: Verdana, Tahoma, sans-serif;
    position: fixed;
    bottom: 0;
}
header .navbar .container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-evenly;
}
